/* フェードイン
.hometitle{
    font-family: 'Dancing Script', cursive; 
    font-size: 48pt;   
    color: #ffffff;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 3.0s ease-out forwards;
}

@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
*/

.hometitle{
    font-family: 'Dancing Script', cursive; 
    font-size: 42pt;   
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #880e4f;
    width: 0;
    animation: typing 4s steps(30, end) forwards, blink 1.0s step-end infinite;
}

@keyframes typing {
    to { width: 100%; }
}

  @keyframes blink {
    50% { border-color: transparent; }
}

body {
    margin: 0;
    background: #fff0f5;
    color: #333;
    font-weight: bold;
    text-align: center;
  }
  
  header {
    padding: 20px;
    background-color: #f48fb1;
    color: white;
  }
  
  h1 {
    margin: 0;
  }
  
  .slideshow img {
    width: 90%;
    height: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 32px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 30px 0;
  }
  
  .button-area {
    margin: 20px;
    text-align: center;
  }
  
  .album-button {
    margin-top: 30px;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
    pointer-events: none; /* 非表示中クリックできないように */
    font-size: 28px;
    padding: 20px 32px;
    background-color: #fc81aa;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
  }

  /* 表示されるときにこのクラスが追加される */
  .album-button.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    background-color: #fc81aa;
    color: #fff;
    padding: 20px 32px;
    text-decoration: none;
    font-size: 28px;
    outline: 3px solid;
    outline-color: #fc81aa;
    outline-offset: 0px;
    display: inline-block;
    transition: 1s;
  }

  .album-button:hover {
    color: #ffffff;
    animation: light 1.0s infinite;
  }

  @keyframes light {
    100% { 
      outline-color: transparent;
      outline-offset: 10px;
    }
  }

  